@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
}

.custom-img {
  background:  url('../public/maloney.jpg') !important;
  
  
  
  
}
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background-size: cover;
    margin: 0;
    
  }
}

